@import "./themes";
// @mixin header-format {
//     font-family: ;
//     color: ;
// }
// * {
//     background: $light-green;
// }

body {
    margin: 0px;
}
header {
    position: fixed;
    width: 100%;
    top: 0px;
}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 500px;
    position: sticky;
    // padding-top: 0px;
    margin-top: 0px;
    // background-color: $tekhelet;
    // box-shadow: 0px 4px 0px 0px rgba(71, 31, 62, 0.2);
    &__item {
        // background-color: $tekhelet;
        color: $air-superiority-blue;
        font-weight: bold;
        &:hover {
            color: $air-superiority-blue;
        }
    }
}

.Home {
    height: 600px;
    width: auto;
    background-color: $light-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 40px;
    &__header {
        font-size: xx-large;
        margin: 0px;
        color: $tekhelet;
    }
    &__header2 {
        font-size: x-large;
        color: $tekhelet;
    }
}

.About {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $dark-purple;
    padding: 40px;
    &__content {
        display: flex;
        flex-direction: column;
        padding-right: 40px;
    }
    &__header {
        color: $mantis;
        margin-top: 0px;
        text-decoration: underline;
    }
    &__para {
        font-size: larger;
        color: $mantis;
    }
    &__image {
        height: 210px;
        width: 170px;
        padding-right: 40px;
    }
}

.Skills {
    background-color: $light-green;
    padding: 40px;
    &__header {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        color: $tekhelet;
        margin-top: 0px;
        text-decoration: underline;
    }
    &__content {
        color: $tekhelet;
        padding: 20px 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-items: center;
    }
    &__icon {
        font-size: 40px;
        display: flex;
        align-items: center;
    }
    &__label {
        font-size: 20px;
        padding: 5px;
        color: $tekhelet;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1700px) {
    .Skills {
        &__content {
            padding: 20px 400px;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .Skills {
        &__content {
            padding: 20px 250px;
        }
    }
}

.Projects {
    background-color: $dark-purple;
    padding: 40px;
    &__header {
        text-align: center;
        margin-top: 0px;
        color: $mantis;
        text-decoration: underline;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__item {
        color: $mantis;
        padding: 40px 40px 0px 0px;
        &__image {
            max-height: 250px;
        }
        &__icon {
            color: $mantis;
        }
    }
}

.Contact {
    background-color: $light-green;
    &__header {
        margin-top: 0px;
        text-align: center;
        color: $tekhelet;
        text-decoration: underline;
    }
    &__content {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;
    }
    &__links {
        color: $air-superiority-blue;

        &:hover {
            font-weight: bold;
        }
    }
}
