@import "./themes";
// @mixin header-format {
//     font-family: ;
//     color: ;
// }
* {
    background: $light-green;
}

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding-left: 500px;
    padding-top: 0px;
    margin-top: 0px;
    background-color: $tekhelet;
    box-shadow: 0px 4px 0px 0px rgba(71, 31, 62, 0.2);
    &__item {
        background-color: $tekhelet;
        color: $mantis;
        &:hover {
            color: $air-superiority-blue;
        }
    }
}

.Home {
    height: 500px;
    width: auto;
    // display: flex;

    // align-items: center;
    // justify-content: right;
    &__header {
        display: flex;
        justify-content: right;
    }
    &__header2 {
        display: flex;
        justify-content: right;
    }
}

.About {
    height: 500px;
    text-align: left;

    &__header {
    }
    &__para {
    }
}

.Skills {
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    &__icon {
        font-size: 40px;
        display: flex;
        align-items: center;
    }
    &__label {
        font-size: 20px;
        display: flex;
        align-items: center;
        color: $tekhelet;
    }
    // @media only screen and {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
}

.Projects {
    &__header {
    }
}

.Contact {
    &__header {
    }
    &__links {
        color: $air-superiority-blue;
        &:hover {
            text-decoration: underline;
        }
    }
}
